
#cra-map {
	position: relative;
	height: 550px;
}

/*
 * bubbletree styles
 */ 
 
#cm-bt {
	width: 550px;
}

#cm-bt .bubbletree-wrapper {
	height: 500px;
	width: 550px;
}

#cm-bubbletree .label {
	background: transparent;
	padding: 0; 
	margin: 0;
}

#cm-bubbletree .label .amount {
	font-weight: normal;
}

#cm-bubbletree .label .desc {
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	line-height: 1.2em;
}

#cm-bubbletree .label2 {
	line-height: 1.2em;
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cm-bt .bubbletree .label2 span {
	background: rgba(255,255,255,.7);
}

#cm-bubbletree .label2.current {
	font-weight: bold;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#cm-bubbletree .label.current .desc {
	font-weight: bold;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/*
 * map styles
 *
 */

#cm-map {
	position: absolute;
	left: 540px;
	top: 10px;
	width: 390px;
	height: 500px;
}

#cm-map svg .IRL {
	stroke: none;
	fill: #eee;
}

#cm-map svg .GBR {
	stroke: #fff;
}

/*
 * map legend
 */

#cm-map-legend {
	position: absolute;
	right: -10px;
	top: 10px;
	width: 100px;
	height: 200px;
}

#cm-map-legend .title {
	font-style: italic;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 8px;
}

#cm-map-legend .row {
	margin: 0 0 4px;
}

#cm-map-legend .color {
	width: 13px;
	height: 15px;
	border-radius: 3px;
	float: left;
	margin-right: 5px;
}

#cm-map-legend .lbl {
	font-size: 11px;
	color: #444;
	line-height: 15px;
	position: relative;
	top: 2px;
	white-space: no-wrap;
	width: 200px;
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-tooltip-content .amount {
	font-size: 20px;
	font-weight: normal;
	font-family: Palatino, Georgia;
	border-top: 1px dashed #ccc;
	padding-top: 8px;
	margin: 5px 0 3px;
}

